/*===== global styles =====*/
@font-face {font-family: 'Contax';src: url('webfonts/1127CD_0.eot');src: url('webfonts/1127CD_0.eot?#iefix') format('embedded-opentype'),url('webfonts/1127CD_0.woff') format('woff'),url('webfonts/1127CD_0.ttf') format('truetype'),url('webfonts/1127CD_0.svg#wf') format('svg');}

body {
font-family: Contax
background: #fff
margin: 0
padding 0

}

p, h1, h2, h3, h4, h5, h6, li {
margin: 1ex 1em;
font-family: Contax
}


div#outerdiv {
width: 1040 px;
background: #fff url('images/bg_graphic.jpg') no-repeat;
}

.plain {
	font-family: Arial,sans-serif;
	font-size: 14px; 
	font-weight: light;
	font-style: normal;
	line-height: 120%;
}

.plainbig {
	font-family: Arial,sans-serif;
	font-size: 14px; 
	font-weight: light;
	font-style: normal;
	line-height: 175%;
}
/*==== header ==== */
div#header{
position: relative;
width: 1040px;
height: 1040px;
}

/* ===== logo ===== */
#header #logo {
position: absolute;
left: 70px;
top: 70px;
}

#logo {
height: 90px;
width: 275px;
}


/* ===== navigation ==== */
#header #navigation {
position: absolute;
left: 590px;
top: 10px;
}

#navigation {
height: 180px; 
width: 435px;
}
/*====== content ===== */
#content div#location{
	position: absolute;
	left: 77px;
	top: 245px;
	width: 700px;
	height: 140px;
	padding: 0px;
}
#content div#headline{
position: absolute;
left: 30px;
top: 340px;
width: 700px;
height: 205px;
padding: 0px;
}

#content div#maincontent {
	position: absolute;
	left: 25px;
	top: 545px;
	width: 700px;
	margin: 40px;
}

#maincontent tr {
font-family: Contax;
color: #fff;
margin: 1ex 0;
}

/* === sidebar ====*/
#content div#sidebar{
position: absolute;
left: 780px;
top: 180px;
width:240px
}
#sidebar tr {
font-family: Contax;
font-size: 25px;
color: #fff;
margin: 1ex 0;
}

#sidebar input[type='text'] {
	width:230px;
	height:35px;
	font-size:16px;
	margin:2px 0px;
	border:0px;
}

#button {
background: url('images/sign_up.jpg');
width:136px;
height:40px;
border:0px;
}
#stayupdated
{
	padding-bottom:7px;
}
#spacerbeforeform { 
height:75px;
}
#spacerafterform { 
height:45px;
}
#spacerimages { 
height:20px;
}