#colorbox, #cboxOverlay, #cboxWrapper {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 9999;
}
#cboxOverlay {
    height: 100%;
    position: fixed;
    width: 100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}
#cboxContent {
    position: relative;
}
#cboxLoadedContent {
    overflow: auto;
}
#cboxTitle {
    margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer;
}
.cboxPhoto {
    border: 0 none;
    display: block;
    float: left;
    margin: auto;
}
.cboxIframe {
    border: 0 none;
    display: block;
    height: 100%;
    width: 100%;
}
#cboxOverlay {
    background: none repeat scroll 0 0 #FFFFFF;
}
#colorbox {
}
#cboxContent {
    margin-top: 32px;
    overflow: visible;
}
.cboxIframe {
    background: none repeat scroll 0 0 #FFFFFF;
}
#cboxError {
    border: 1px solid #CCCCCC;
    padding: 50px;
}
#cboxLoadedContent {
    background: none repeat scroll 0 0 #000000;
    padding: 1px;
}
#cboxLoadingGraphic {
    background: url("../img/loading.gif") no-repeat scroll center center transparent;
}
#cboxLoadingOverlay {
    background: none repeat scroll 0 0 #000000;
}
#cboxTitle {
    color: #000000;
    left: 0;
    position: absolute;
    top: -22px;
}
#cboxCurrent {
    position: absolute;
    right: 205px;
    text-indent: -9999px;
    top: -22px;
}
#cboxPrevious, #cboxNext, #cboxClose {
    background: url("../img/controls.png") no-repeat scroll 0 0 transparent;
    height: 20px;
    position: absolute;
    text-indent: -9999px;
    top: -20px;
    width: 20px;
}
#cboxPrevious {
    background-position: 0 0;
    right: 44px;
}
#cboxPrevious:hover {
    background-position: 0 -25px;
}
#cboxNext {
    background-position: -25px 0;
    right: 22px;
}
#cboxNext:hover {
    background-position: -25px -25px;
}
#cboxClose {
    background-position: -50px 0;
    right: 0;
}
#cboxClose:hover {
    background-position: -50px -25px;
}
.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious {
    right: 66px;
}
.cboxSlideshow_on #cboxSlideshow {
    background-position: -75px -25px;
    right: 44px;
}
.cboxSlideshow_on #cboxSlideshow:hover {
    background-position: -100px -25px;
}
.cboxSlideshow_off #cboxSlideshow {
    background-position: -100px 0;
    right: 44px;
}
.cboxSlideshow_off #cboxSlideshow:hover {
    background-position: -75px -25px;
}
